<!-- Loader global con logo animado (controlado por /js/appLoader.js) -->
<div class="app-loader" id="appLoader" aria-hidden="true">
  <div class="app-loader__core">
    <div class="app-loader__ring"></div>
    <img src="/img/suelosurjpg.jpg" class="app-loader__logo" alt="Suelosur">
  </div>
  <div class="app-loader__text">Cargando…</div>
</div>
