@use '../abstracts/variables' as *;
@use '../abstracts/mixins'    as *;

.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  min-width: 0;
  padding: $content-pad 2rem 2.5rem;
  background: $bg-app;

  @include md-down {
    padding: $content-pad-mob $content-pad-mob 2rem;
  }
}
